/**
 * Links
 */
a {
  color: $color-blue;
  transition: .5s;
  text-decoration: none;
  &:hover {
    color: darken($color-blue, 20);
  }
  &:visited {
    text-decoration: none;
    outline: 0;
  }
}

/**
 * Wrapper
 */
.wrapper{
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100%;
  max-width: $wrapper-width;

  &--padded{
    padding-top: $padding-large;
    padding-bottom: $padding-large;
  }
  $test: #{$wrapper-width + 30px};
  @media all and (max-width: $test) {
    max-width: 100%;
    padding-left: $padding;
    padding-right: $padding;
  }
  @media all and (max-width: 750px) {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.wrapper--small{
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100%;
  max-width: $wrapper-small-width;

  $test: calc($wrapper-small-width + $padding);
  @media all and (max-width: $test) {
    max-width: 100%;
    padding-left: $padding;
    padding-right: $padding;
  }
}