/*
 *  Specific drupal styling: Status messages
 *  ---
 */

.c-status-message-wrapper {
  position: relative;
  z-index: 10;
  pre {
    text-align: left;
  }
}

.c-status-message {
  position: relative;
  padding: 1em;
  &:not(:last-child) {
    box-shadow: inset 0 -1px 0 0 rgba(black, .1);
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.c-status-message--error {
  background-color: #DD0C15;
  color: white;
  ul {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.c-status-message--status {
  background-color: #3D9970;
  color: white;
}

.c-status-message__close {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  padding: .5em;
  border: 0;
  background-color: unset;
  svg {
    margin: 0;
    fill: white;
    width: 20px;
    height: 20px;
    transition: all .3s ease;
    cursor: pointer;
  }
  &:hover {
    background-color: unset;
    svg {
      transform: scale(1.1);
    }
  }
  &:before {
    display: none;
  }
}

// Adminimal toolbar fix for nolinks.
.toolbar .toolbar-icon {
  padding: 1em 1.3333em 1em 2.75em;
  display: block;
  cursor: default;
}
