/*
 *  Specific drupal styling: Admin tabs
 *  ---
 */

// This file is loaded on every page in the backend

$menu-items: 8;

.admin-tabs {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1001;
  text-indent: -999em;
  width: 50px;
  height: 50px;

  &__list {
    @include stretch;
  }

  &__item {
    @include stretch;
    opacity: 0;
    pointer-events: none;

    @for $i from 1 through $menu-items {
      &:nth-child(#{$i+2}) {
        transition-duration: 180ms;

        :checked ~ & {
          opacity: 1;
          pointer-events: auto;
          transition-timing-function: cubic-bezier(.165, .840, .440, 1.000);
          transition-duration: 90ms+(100ms*$i);
          transform: translateY(-55px*$i);
        }
      }
    }
  }

  &__link {
    @include stretch;
    border-radius: 50%;
    transition: background-color .3s ease-out;
    box-shadow: 0 0 10px rgba(black, .2);


    &[href$="edit"] {
      background: forestgreen url("../images/svg/admin-tabs/edit.svg") 53% 47%/20px no-repeat;

      &:focus,
      &:hover {
        background-color: darken(forestgreen, 10%);
      }
    }

    &[href$="translations"] {
      background: purple url("../images/svg/admin-tabs/translate.svg") center/20px no-repeat;

      &:focus,
      &:hover {
        background-color: darken(purple, 10%);
      }
    }

    &[href$="manage-display"] {
      background: dodgerblue url("../images/svg/admin-tabs/view.svg") center/18px no-repeat;

      &:focus,
      &:hover {
        background-color: darken(dodgerblue, 10%);
      }
    }

    &[href$="delete"] {
      background: red url("../images/svg/admin-tabs/delete.svg") center/18px no-repeat;

      &:focus,
      &:hover {
        background-color: darken(red, 10%);
      }
    }

    &[href*="devel"] {
      background: orangered url("../images/svg/admin-tabs/devel.svg") center/20px no-repeat;

      &:focus,
      &:hover {
        background-color: darken(orangered, 10%);
      }
    }

    &[href*="revisions"] {
      background: deeppink url("../images/svg/admin-tabs/revisions.svg") center/20px no-repeat;

      &:focus,
      &:hover {
        background-color: deeppink(orangered, 10%);
      }
    }

    &::before {
      background: #333;
      content: attr(aria-label);
      color: white;
      @include rfs(11);
      padding: 6px 10px;
      position: absolute;
      right: 100%;
      top: 50%;
      line-height: 1.6;
      font-weight: bold;
      white-space: nowrap;
      z-index: 3;
      opacity: 0;
      transition: .3s ease-out;
      text-indent: 0;
      transform: translateY(-50%);
      margin-right: 15px;
      pointer-events: none;
    }
    &::after {
      content: '';
      border-left: solid 6px #333;
      border-top: solid 8px transparent;
      border-bottom: solid 8px transparent;
      position: absolute;
      right: 100%;
      margin-right: 9px;
      top: 50%;
      opacity: 0;
      transform: translateY(-50%);
      transition: .3s ease-out;
      pointer-events: none;
    }
    &:focus,
    &:hover {
      &::before {
        transform: translate(5px, -50%);
        opacity: 1;
      }
      &::after {
        transform: translate(5px, -50%);
        opacity: 1;
      }
    }
  }
}

.menu-open {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.menu-open-button {
  background: sandybrown url("../images/svg/admin-tabs/settings.svg") center/20px no-repeat;
  z-index: 1;
  opacity: 1;
  pointer-events: auto;

  &:focus,
  &:hover {
    background-color: darken(sandybrown, 10%);
  }
}


