// Functions

/**
 * Convert any px value into its rem equivalent.
 *
 * Usage: rem(number);
 */
@function rem($number) {
  @return $number / $global-font-size * 1rem;
}
// Font Sizing

@function calculateRem($size) {
  $remSize: $size / 16px;
  //Default font size on html element is 100%, equivalent to 16px;
  @return #{$remSize}rem;
}

/**
 * The palette function works with a base color and a tint.
 * Reads from '_colors.scss'
 *
 * Usage: palette(color-alpha,base)
 */
@function palette($palette, $tone: 'base') {
  @return map-get(map-get($palettes, $palette), $tone);
}