/*
 *  Helpers
 *  ---
 *  A set of helper classes
 */

// Alignment
.u-text-justify {
  text-align: justify !important;
}


.u-text-nowrap {
  white-space: nowrap !important;
}


.u-text-align-left {
  text-align: left !important;
}


.u-text-align-center {
  text-align: center !important;
}


.u-text-align-right {
  text-align: right !important;
}


// Text truncate
// Requires inline-block or block for proper styling
.u-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


// Transformation
.u-transform-none {
  text-transform: none !important;
}


.u-text-lowercase {
  text-transform: lowercase !important;
}


.u-text-uppercase {
  text-transform: uppercase !important;
}


.u-text-capitalize {
  text-transform: capitalize !important;
}


.u-text-strike {
  text-decoration: line-through !important;
}


// Font styles
.u-font-italic {
  font-style: italic;
}


.u-center-block {
  @include center-block();
}


// Positions
.u-relative {
  position: relative !important;
}

.u-absolute{
  position: absolute;
}

.u-left{
  left: 0;
}

.u-bottom{
  bottom: 0;
}

// Box model
.u-border-box{
  box-sizing: border-box !important;
}

// Inline block
.u-inline-block{
  display: inline-block !important;
}

.u-align-middle{
  vertical-align: middle !important;
}

.u-overflow-hidden{
  overflow: hidden !important;
}

// Display
.u-display-none{
  display: none;
}
.u-display-block{
  display: block !important;
}

// Underline
.u-text-decoration-none{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}