/*
 *  Utilities: Mixins
 *  ---
 */

/**
 * Generate a font-size and baseline-compatible line-height.
 *
 * Usage: @include(font size in pixels, optionaly you can specify a specific line-height);
 */
@mixin font-size($font-size, $line-height: auto) {
  font-size: ($font-size / $global-font-size) * 1rem;

  @if ($line-height == 'auto') {
    line-height: ceil($font-size / $global-line-height) * ($global-line-height / $font-size);
  } @else {
    @if (type-of($line-height) == number or $line-height == 'inherit' or $line-height == 'normal') {
      line-height: $line-height;
    } @else if ($line-height != 'none' and $line-height != false) {
      @warn "D’oh! ‘#{$line-height}’ is not a valid value for `line-height`."
    }
  }
}


// Breakpoints

@mixin breakpoint($class) {
  @if $class == md {
    @media (min-width: 767px) {
      @content;
    }
  }
  @else if $class == lg {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @else {
    @warn "Breakpoint mixin supports: md, lg";
  }
}

// Clearfix

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transform-style: preserve-3d;
}

/**
 * Hide elements in an accessible way
 *
 * Usage: @include visually-hidden();
 */
@mixin visually-hidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}


/**
 * Center align a block-level element
 */

@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin stretch($position: absolute) {
  position: $position;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
