.u-overlay{
  position: relative;
  // Opaque dark gradient overlay.
  &:before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,rgba(0,0,0,0.9),rgba(0,0,0,0.1));
    z-index: 2;
  }
}