{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('basetheme/parallax') }}

{% set overlay = '' %}
{% if paragraph.field_overlay.value == '1' %}
{% set overlay = 'u-overlay' %}
{% endif %}

{% set src = paragraph.field_image.entity.uri.value | image_style('header_image') %}
<div class="p--banner js-parallax {{ overlay }}" data-parallax="scroll" data-image-src="{{ src }}">

    <div class="p--banner__content">

        {#banner title#}
        {% if paragraph.field_title.0.value %}
            <h1 class="p--banner__title">
                {{ paragraph.field_title.0.value }}
            </h1>
        {% endif %}

    </div>

    <svg class="p--banner__arrow" width="18px" height="12px" viewBox="0 0 9 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Referenties" transform="translate(-353.000000, -685.000000)" fill="#ffffff">
                <g id="CONTENT" transform="translate(-3.000000, 136.000000)">
                    <g id="Group-2" transform="translate(138.000000, 526.000000)">
                        <path d="M221.142252,21.7834699 C220.773333,21.4546652 220.265508,21.3862642 219.896027,21.7149689 L219.742423,21.8381707 C219.464948,22.1399751 219.388426,22.48288 219.71168,22.7430838 C220.711622,23.6346967 221.711227,24.5261096 222.726765,25.4305227 C223.080762,25.7463272 223.080762,26.2535346 222.726765,26.5690391 C221.711227,27.460052 220.711622,28.3651651 219.71168,29.256278 C219.388426,29.5165817 219.464948,29.8597867 219.742423,30.1480909 L219.896027,30.2849929 C220.265395,30.6139976 220.773333,30.5450966 221.142252,30.2162919 L225.23425,26.5690391 C225.588583,26.2535346 225.588583,25.7463272 225.23425,25.4305227 L221.142252,21.7834699 Z" id="Fill-1-Copy" transform="translate(222.500000, 26.000000) rotate(-270.000000) translate(-222.500000, -26.000000) "></path>
                    </g>
                </g>
            </g>
        </g>
    </svg>


</div>