{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

<div class="p--cta">
    {{ title_suffix }}
    {#title#}
    {% if paragraph.field_title.0 %}
        <div class="p--cta__title">
            {{ paragraph.field_title.0.value }}
        </div>
    {% endif %}

    {#text#}
    {% if paragraph.field_text.0 %}
        <div class="p--cta__text">
            {{ paragraph.field_text.0.value|raw }}
        </div>
    {% endif %}

    {#link#}
    {% if paragraph.field_link.0 %}
        {% set link_url = paragraph.field_link.0.url %}
        {% set link_title = paragraph.field_link.0.title %}
        <a href="{{ link_url }}" class="c-button">
            {{ link_title }}
            <svg class="arrow-right" width="8" height="12" viewBox="0 0 8 12" xmlns="http://www.w3.org/2000/svg"><path d="M2.19.378C1.698-.06 1.02-.152.528.287L.323.45c-.37.402-.472.86-.04 1.206 1.332 1.19 2.665 2.378 4.02 3.584a.99.99 0 0 1 0 1.518C2.947 7.947 1.614 9.154.282 10.342c-.432.347-.33.804.04 1.189l.205.182c.493.439 1.17.347 1.662-.091l5.456-4.863a.99.99 0 0 0 0-1.518L2.19.378z" fill-rule="evenodd"/></svg>
        </a>
    {% endif %}

</div>