/*
 *  Settings: Colors
 *  ---
 *  Every color that is being used should be defined here.
 *  Based on : http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
 *
 *  Usage:
 *      color: palette(color-<color-name>, <tint>);
 *      e.g.: palette(color-base, base); outputs -> #333;
 */


$color-blue: #03549A;
$color-yellow: #F0D223;
$color-base: #000000;
$color-grey: #EDEDED;
$color-black: #161616;
$color-error: #DA2327;
$color-success: #3D9970;

// Palettes
$palettes: (
        color-blue: (
                base : $color-blue,     // blauw voor buttons, slagzin bovenaan, labels bij teasers, footer menu kleur, 'op deze pagina' linkkleur
                dark : #002F6C,         // blauwe tekst slogan, teaser titles, achtergrond lees meer, achtergrond nieuwsbrief
        ),
        color-yellow: (
                base : $color-yellow,   // geel, button achtertgrond, bol met pijl achtergrond, achtergrond bol h1
                dark : #FFD100,         // geel bolletje achter titels, zoekknop achtergrond
        ),
        color-base: (                   // Used for text colors
                x-light :#737373,       // grijs tekst topmenu, introtekst, placeholders, footer zinnetje, footer line, footer bottom tekst
                light : #212121	,       // zwart tekst mainmenu, titels
                base : $color-base,     // default text color
        ),
        color-grey: (                   // Used for line colors and background colors
                light : #F1F1F1,        // achtergrondkleur nieuwsbrief formulier, achtergrondkleur tekst met foto, achtergrond 'op deze pagina'
                base : $color-grey,     // lichtgrijs lijntje topmenu, main menu, zoekknop achtergrond, formulier achtergrond
                dark : #E5E5E5,         // grijze lijn onder grote teaser en kleine teasers
        ),
        color-error: (
                light : hsl(hue($color-error), 70, 60),
                base : $color-error,
                dark : hsl(hue($color-error), 100, 35),
        ),
        color-success: (
                light : hsl(hue($color-success), 70, 60),
                base : $color-success,
                dark : hsl(hue($color-success), 60, 25),
        )
);

// Colored background class
.u-bg-colored{
        background-color: $color-blue;
        color: white;
}