/**
 * Fonts and font sizes
 */

/**
 * Fonts
 */
$default-font-family: 'Roboto', arial, sans-serif;
$alternative-font-family: 'Catamaran', arial, sans-serif;

/**
 * Default font size
 */
$global-font-size: 18px;

/*
 *  Line heights and spacings, ...
 */
$global-line-height: 26px;
$global-spacing-unit: round($global-line-height);

/**
 * General classes
 */
.font-bold{
  font-weight: 600;
}

/**
 * Headings
 */
$font-size-h1: 40px;
$font-size-h2: 35px;
$font-size-h3: 27px;
$font-size-h4: 22px;
$font-size-h5: 18px;
$font-size-h6: 18px;
$font-size-tiny: 12px;
$font-size-small: 16px;
$font-size-default: $global-font-size;
$font-size-large: 2px;

h1, h2, h3, h4, h5, h6{
  font-family: 'Catamaran', arial, sans-serif;
  font-weight: 600;
  color: $color-blue;
  margin-bottom: 0.75em;
}

h1 {
  @include font-size($font-size-h1);
}

h2 {
  @include font-size($font-size-h2, 1.2em);
}

h3 {
  @include font-size($font-size-h3);
}

h4 {
  @include font-size($font-size-h4);
}

h5 {
  @include font-size($font-size-h5);
}

h6 {
  @include font-size($font-size-h6);
}

/**
 * Font size classes
 */
.u-font-size-small{
  @include font-size($font-size-small);
}
.u-font-size-tiny{
  @include font-size($font-size-tiny);
}