/*
 * Paragraph: banner
 */
.p--banner{
  position: relative;
  height: 90vh;
  z-index: 1;
  background: transparent;
  padding-top: 90px;

  @media all and (max-width: 850px){
    height: 70vh;
  }

  @media all and (max-width: 550px){
    height: 50vh;
  }

  &__content{
    position: relative;
    width: 100%;
    top: 50%;
    text-align: center;
    z-index: 3;
    max-height: 90vh;
    transform: translateY(-50%);
    padding: 0 2em;
  }

  &__title{
    color: white;
    font-size: 40px;
    margin-top: 0;
    @media all and (max-width: 850px){
      font-size: 30px;
    }
  }

  // Arrow down on bottom
  &__arrow{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    animation: arrow-bounce 1.5s infinite;
    z-index: 2;
  }

}