/*
 * Paragraph: call to action
 */
.p--cta{
  width: 970px;
  max-width: calc(100% - 4em);
  margin: 5rem auto;
  background-color: white;
  box-shadow: 0 0 30px 0 rgba(0,0,0,.2);
  text-align: center;
  padding: 2.5em 2.5%;
  position: relative;

  &__title{
    color: #255F6D;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 1em;
  }

  &__text{
    margin-bottom: 2em;
  }
}