/*
 *  Paragraphs: general stylings
 */

.p--white {
  background-color: white;
}

.p--padded{
  padding-top: 120px;
  padding-bottom: 160px;
}

.p--smallpadding{
  padding: 50px 0
}

.p--margins{
  margin-top: 120px;
  margin-bottom: 160px;
}

.p--smallmargins{
  margin-top: 120px;
  margin-bottom: 120px;
}

.p--dark{
  background-color: $color-black;
  color: white;

  h1, h2, h3, h4, h5{
    color: white;
  }
}

.p__caption{
  text-align: center;
  font-style: italic;
  //font-size: $font-size-small;
  @include rfs($font-size-small);
  color: $color-base;
  margin-top: 0.5em;
}

.p__centered-content{
  position: relative;
  text-align: center;
  > * {
    max-width: 100% !important;
    /*position: relative;
    left: 50%;
    transform: translateX(-50%);*/
  }
}

.p__title{
  margin-top: 0;
  margin-bottom: 0.2em;
}

.p__line{
  margin-bottom: 55px;
}

// Paragraphs with background image.
div[data-bgimage], .bg-overlay{
  position: relative;
  z-index: 1;
  background-color: black;
  color: white;

  &:before{
    display: block;
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    top: 125px;
    right: 0;
    bottom: 0;
    background: linear-gradient(-180deg, rgba(black,0), rgba(black,0.7));
  }

  > div {
    z-index: 3;
    position: relative;
  }
}