/*
 * Paragraph: image and text
 */
.p--imagetext{
  margin: 5rem 0;
  &__container{
    display: flex;
    flex-wrap: wrap;
    @media all and (max-width: 500px){
      display: block;
    }
  }
  &__image{
    width: 30%;
    text-align: center;
    @media all and (max-width: 500px){
      width: 100%;
      margin-bottom: 1em;
    }
    img{
      border-radius: 50%;
      border: 5px solid #255F6D;
      width: 250px;
      max-width: 100%;
      box-shadow: 0 2px 20px rgba(0,0,0,.2);
    }
  }
  &__text{
    width: 70%;
    padding-left: 3em;
    @media all and (max-width: 500px){
      width: 100%;
      padding: 0;
      text-align: center;
    }
  }

  &__title{
    color: #255F6D;
    font-weight: bold;
    font-size: 35px;
  }

  &__subtitle{
    color: #7F6121;
    margin-bottom: 1em;
    font-size: 25px;
    text-transform: uppercase;
  }
}