/*
 *  Page: user login
 */

.p-login {


  form{
    label{
      display: block;
      font-family: $alternative-font-family;
      @include rfs($font-size-h3);
      font-weight: bold;
    }
  }

  .form-item{
    margin-bottom: 2rem;
  }

  .description{
    display: none;
  }
}
