{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

{{ attach_library('data_attribute_gmap/gmap') }}
{{ attach_library('gmap_popup_styler/gmap-popup-styler') }}

<div class="contactpage">

    {#google map#}
    <div class="js-gmap c-gmap" data-latitude="51.0743623" data-longitude="3.6645769" data-marker="/themes/custom/basetheme/dist/images/png/marker.png "data-popupcontent-target=".js-gmap-tooltip-content">
    </div>

    {#popup when clicking on marker#}
    <div class="js-gmap-tooltip-content u-display-none">
        {#Location in microdata format#}
        <article itemscope itemtype="http://schema.org/Place">
            <h4 class="u-bold" itemprop="name">{{ site_name }}</h4>
            {#address in microdata format#}
            <address itemscope itemtype="http://schema.org/PostalAddress" itemprop="address" class="c-person__address">
                <div itemprop="streetAddress">{{ node.field_address.0.address_line1 ~ ' ' ~ node.field_address.0.address_line2 }}</div>
                <div>
                    <span itemprop="postalCode">{{ node.field_address.0.postal_code }}</span>
                    <span itemprop="addressLocality">{{ node.field_address.0.locality }}</span>
                    <span itemprop="addressCountry" class="u-hidden">BE</span>
                </div>
            </address>
        </article>
        <br/>
        <a href="https://www.google.be/maps/search/{{ node.field_coordinats.0.lat }}+{{ node.field_coordinats.0.lng }}" target="_blank">{{ 'Open in Google Maps'|t }}</a>
    </div>

    {#content#}
    <div class="contactpage__content wrapper">

        {#left side: general data#}
        <div class="contactpage__container">
            <div class="contactpage__container__item">
                {#page title#}
                <h1>{{ node.title.0.value }}</h1>

                {#content#}
                {{ node.field_text.0.value|raw }}
            </div>
            <div class="contactpage__container__item">
                <h2>{{ site_name }}</h2>
                <div class="contactpage__address">
                    <div class="contactpage__address__icon">
                        <img src="/themes/custom/basetheme/dist/images/png/marker.png">
                    </div>
                    <div class="contactpage__address__info">
                        <address itemscope itemtype="http://schema.org/PostalAddress" itemprop="address" class="c-person__address">
                            <div itemprop="streetAddress">{{ node.field_address.0.address_line1 ~ ' ' ~ node.field_address.0.address_line2 }}</div>
                            <div>
                                <span itemprop="postalCode">{{ node.field_address.0.postal_code }}</span>
                                <span itemprop="addressLocality">{{ node.field_address.0.locality }}</span>
                                <span itemprop="addressCountry" class="u-hidden">BE</span>
                            </div>
                        </address>
                    </div>
                </div>

                <p class="contactpage__data">
                    {#phone#}
                    {% if node.field_phone.0.value %}
                        <a href="tel:{{ node.field_phone.0.value }}" target="_blank" title="{{ 'Bel ' ~ site_name }}">
                            <svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M74.111 97.507c-6.752 0-17.128-3.433-27.756-9.181-3.444-1.865-11.791-7.582-18.773-13.937-7.469-6.794-14.106-14.844-16.433-18.386C4.167 45.379-.001 35.205-.001 28.79c0-11.373 17.043-24.36 18.987-25.803a2.507 2.507 0 0 1 3.421.41l18.239 21.94a2.507 2.507 0 0 1-.279 3.49c-5.409 4.724-10.274 9.997-10.762 11.649.385 1.804 5.94 8.624 13.765 16.01.088.058.17.12.249.188 8.081 7.069 15.7 12.147 17.697 12.438 1.603-.691 6.433-6.133 10.503-11.851a2.502 2.502 0 0 1 3.445-.624L98.9 72.621a2.503 2.503 0 0 1 .746 3.362c-1.245 2.077-12.483 20.321-23.801 21.441-.547.055-1.131.083-1.734.083zM20.107 8.469C14.634 12.918 5.01 22.125 5.01 28.79c0 5.313 4.054 14.915 10.328 24.462 2.183 3.324 8.471 10.93 15.617 17.432 6.914 6.292 14.995 11.724 17.785 13.233 9.78 5.291 19.502 8.579 25.371 8.579.438 0 .854-.02 1.238-.058 6.631-.657 14.841-11.142 18.729-17.026L74.464 62.147c-4.188 5.668-9.335 11.642-12.621 11.966a3.985 3.985 0 0 1-.429.022c-5.025 0-17.671-10.712-20.824-13.453a2.35 2.35 0 0 1-.381-.29c-3.666-3.443-15.627-15.06-15.627-19.973 0-3.302 5.435-9.016 10.66-13.744L20.107 8.469z"/></svg>
                            <span>{{ node.field_phone.0.value }}</span>
                        </a>
                    {% endif %}

                    {#email#}
                    {% if node.field_email.0.value %}
                        <a href="mailto:{{ node.field_email.0.value }}" title="{{ 'Send an email to ' ~ site_name }}">
                            <svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path style="text-indent:0;text-align:start;line-height:normal;text-transform:none;block-progression:tb;marker:none;-inkscape-font-specification:Sans" d="M14.75 21C9.937 21 6 24.937 6 29.75v40.5C6 75.063 9.937 79 14.75 79h70.5c4.813 0 8.75-3.937 8.75-8.75v-40.5c0-4.813-3.937-8.75-8.75-8.75h-70.5zm0 4h70.5c2.666 0 4.75 2.084 4.75 4.75v1.094L50 54.656 10 30.844V29.75c0-2.666 2.084-4.75 4.75-4.75zM10 35.531L48.969 58.72a2 2 0 0 0 2.062 0L90 35.53V70.25c0 2.666-2.084 4.75-4.75 4.75h-70.5C12.084 75 10 72.916 10 70.25V35.531z" font-weight="400" color="#000" stroke-width="4" overflow="visible" font-family="Sans"/></svg>
                            {{ node.field_email.0.value }}
                        </a>
                    {% endif %}

                    {#vat#}
                    {% if node.field_vat.0.value %}
                        <span title="{{ 'BTW nummer van ' ~ site_name }}">
                        <svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path d="M34.6 14.6H21.1V6.2c0-.5-.5-1-1-1H6.4c-.5 0-1 .5-1 1v28c0 .6.5 1 1 1h28.3c.5 0 1-.4 1-1V15.6c-.1-.5-.5-1-1.1-1zM14.8 33.2h-3v-7.7h3v7.7zm4.3 0h-2.4v-8.7c0-.6-.5-1-1-1h-5c-.6 0-1 .4-1 1v8.7H7.4v-26h11.8v26zm6.8 0v-5.7h3v5.7h-3zm7.7 0h-2.8v-6.7c0-.6-.5-1-1-1h-5c-.5 0-1 .4-1 1v6.7H21V16.6h12.5v16.6z"/><path d="M9.8 12.6c-.3 0-.5-.1-.7-.3-.2-.2-.3-.5-.3-.7 0-.3.1-.5.3-.7.4-.4 1-.4 1.4 0 .2.2.3.4.3.7 0 .3-.1.5-.3.7-.2.2-.5.3-.7.3zM16.8 12.6c-.3 0-.5-.1-.7-.3-.2-.2-.3-.5-.3-.7 0-.3.1-.5.3-.7.4-.4 1-.4 1.4 0 .2.2.3.4.3.7 0 .3-.1.5-.3.7-.2.2-.5.3-.7.3zM9.8 16.6c-.3 0-.5-.1-.7-.3-.2-.2-.3-.5-.3-.7 0-.3.1-.5.3-.7.4-.4 1-.4 1.4 0 .2.2.3.4.3.7 0 .3-.1.5-.3.7-.2.2-.5.3-.7.3zM16.8 16.6c-.3 0-.5-.1-.7-.3-.2-.2-.3-.5-.3-.7 0-.3.1-.5.3-.7.4-.4 1-.4 1.4 0 .2.2.3.4.3.7 0 .3-.1.5-.3.7-.2.2-.5.3-.7.3zM9.8 20.6c-.3 0-.5-.1-.7-.3-.2-.2-.3-.5-.3-.7 0-.3.1-.5.3-.7.4-.4 1-.4 1.4 0 .2.2.3.4.3.7 0 .3-.1.5-.3.7-.2.2-.5.3-.7.3zM16.8 20.6c-.3 0-.5-.1-.7-.3-.2-.2-.3-.4-.3-.7 0-.3.1-.5.3-.7.4-.4 1-.4 1.4 0 .2.2.3.4.3.7 0 .3-.1.5-.3.7-.2.2-.5.3-.7.3zM13.3 12.6c-.3 0-.5-.1-.7-.3-.2-.2-.3-.5-.3-.7 0-.3.1-.5.3-.7.4-.4 1-.4 1.4 0 .2.2.3.4.3.7 0 .3-.1.5-.3.7-.2.2-.4.3-.7.3zM13.3 16.6c-.3 0-.5-.1-.7-.3-.2-.2-.3-.5-.3-.7 0-.3.1-.5.3-.7.4-.4 1-.4 1.4 0 .2.2.3.4.3.7 0 .3-.1.5-.3.7-.2.2-.4.3-.7.3zM13.3 20.6c-.3 0-.5-.1-.7-.3-.2-.2-.3-.4-.3-.7 0-.3.1-.5.3-.7.4-.4 1-.4 1.4 0 .2.2.3.4.3.7 0 .3-.1.5-.3.7-.2.2-.4.3-.7.3z"/></svg>
                            {{ node.field_vat.0.value }}
                    </span>
                    {% endif %}
                </p>

                <p class="contactpage__data">
                    <a href="https://www.facebook.com" target="_blank" title="Bezoek de facebookpagina van {{ site_name }}">
                        <svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M69.979,16.248c-0.093-0.566-0.485-1.04-1.022-1.237c-3.277-1.196-7.608-2.381-12.256-2.384  c-3.646-0.001-7.509,0.743-11.1,2.837l0,0c-1.808,1.051-3.233,2.38-4.318,3.876c-1.633,2.247-2.502,4.833-2.992,7.458  c-0.395,2.123-0.544,4.286-0.624,6.383c-0.936,0.022-1.997,0.029-2.963,0.029c-0.845,0-1.618-0.005-2.181-0.011  c-0.281-0.003-0.508-0.005-0.666-0.007c-0.158-0.003-0.242-0.004-0.244-0.004c-0.424-0.006-0.84,0.162-1.143,0.459  c-0.302,0.299-0.474,0.714-0.471,1.139l0.063,10.56C30.068,46.226,30.78,47,31.658,47c0.001,0,0.424,0,1.109,0  c1.555,0,4.457-0.067,6.688-0.023c0.33,7.254,0.408,18.125,0.408,26.56c0,3.556-0.015,6.655-0.027,8.887  c-0.008,1.113-0.014,1.998-0.02,2.612c-0.005,0.613-0.008,0.941-0.008,0.943c-0.004,0.424,0.162,0.833,0.463,1.135  c0.3,0.3,0.71,0.468,1.135,0.466l14.134-0.071c0.425-0.002,0.825-0.172,1.123-0.475c0.299-0.302,0.462-0.705,0.458-1.131  c0,0-0.074-8.691-0.161-18.066c-0.074-8.062-0.156-16.618-0.203-20.603c0.872-0.015,1.888-0.021,2.876-0.02  c1.155,0,2.279,0.007,3.113,0.014c0.416,0.003,0.761,0.007,1,0.01c0.241,0.003,0.375,0.004,0.375,0.004  c0.425,0.006,0.834-0.159,1.137-0.457c0.303-0.298,0.474-0.704,0.475-1.129l0.018-9.781c0.001-0.425-0.166-0.97-0.467-1.269  c-0.3-0.299-0.704-0.605-1.13-0.605c0,0-0.19,0-0.528,0s-0.819,0.144-1.396,0.144c-1.773,0-4.455,0.063-6.577,0.027  c0.038-1.085,0.136-2.008,0.296-2.826c0.154-0.796,0.366-1.441,0.616-1.972c0.188-0.398,0.397-0.712,0.621-0.975  c0.34-0.394,0.708-0.66,1.182-0.858c0.473-0.196,1.068-0.313,1.83-0.314c1.353-0.004,3.211,0.396,5.538,1.295  c0.017,0.007,0.036,0.009,0.054,0.016c0.019,0.006,0.034,0.017,0.053,0.022c0.034,0.011,0.068,0.012,0.102,0.02  c0.054,0.013,0.107,0.025,0.16,0.032c0.052,0.006,0.103,0.008,0.153,0.01c0.053,0.001,0.104,0.002,0.157-0.001  c0.052-0.004,0.102-0.011,0.151-0.02c0.051-0.008,0.102-0.018,0.151-0.031c0.048-0.013,0.096-0.03,0.142-0.048  c0.049-0.017,0.097-0.036,0.143-0.059c0.045-0.022,0.087-0.047,0.13-0.073c0.044-0.027,0.088-0.056,0.13-0.087  c0.04-0.029,0.076-0.062,0.112-0.096c0.04-0.036,0.078-0.072,0.112-0.111c0.034-0.038,0.064-0.078,0.095-0.119  c0.031-0.042,0.062-0.085,0.089-0.131c0.026-0.044,0.049-0.093,0.072-0.142c0.015-0.032,0.034-0.061,0.047-0.095  c0.008-0.018,0.01-0.037,0.017-0.057c0.005-0.017,0.016-0.032,0.021-0.05c0.321-1.058,0.872-2.831,1.345-4.702  c0.236-0.938,0.455-1.902,0.617-2.831c0.161-0.93,0.27-1.818,0.271-2.646C70.058,16.957,70.036,16.602,69.979,16.248z   M56.647,24.841c-0.787,0.407-1.473,0.981-2.022,1.672c-0.827,1.04-1.359,2.315-1.693,3.766c-0.334,1.454-0.477,3.102-0.477,4.96  c0,0.19,0.002,0.383,0.004,0.578c0.014,0.849,0.691,1.304,1.54,1.332C56.26,37.221,59.965,37,62.229,37c0.118,0,0.229,0,0.34,0  l-0.012,6.813c-0.813-0.006-1.852,0.104-2.924,0.104c-1.693,0-3.446,0.073-4.565,0.128c-0.857,0.043-1.523,0.783-1.511,1.641  c0.043,2.716,0.139,12.793,0.225,22.165c0.043,4.687,0.083,9.211,0.113,12.555c0.014,1.623,0.026,2.97,0.034,3.926L43.001,84.39  c0.017-2.107,0.04-6.104,0.04-10.893c0-9.053-0.086-20.906-0.484-28.23c-0.044-0.824-0.706-1.473-1.53-1.502  c-2.153-0.076-5.731-0.09-7.794-0.091l-0.044-7.29c0.45,0.003,0.968,0.006,1.516,0.006c1.554-0.001,3.336-0.017,4.595-0.09  c0.824-0.047,1.476-0.72,1.497-1.544c0.086-3.345,0.276-6.741,1.165-9.629c0.443-1.446,1.052-2.762,1.893-3.919  c0.843-1.156,1.914-2.162,3.348-2.998l0,0c3.013-1.754,6.275-2.403,9.5-2.404c3.671-0.003,7.262,0.858,10.167,1.842  c-0.023,0.497-0.097,1.11-0.213,1.775c-0.214,1.228-0.561,2.626-0.914,3.906c-0.162,0.586-0.324,1.144-0.477,1.658  c-1.875-0.607-3.545-0.934-5.068-0.937C58.902,24.049,57.698,24.294,56.647,24.841z"/></svg>
                        {{ 'Facebook' }}
                    </a>
                </p>
            </div>
        </div>

        {#right side: contact  form#}
        <div class="contactpage__form">
            {{ content.field_contact_form }}
        </div>

    </div>

</div>



