/**
*
* Footer
*
**/
.c-footer{
  font-weight: 300;
  background-color: $color-black;
  color: white;

  &__top{
    color: white;
    padding: 2em 0;
    &__content{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__logo{
    font-family: 'Catamaran', arial, sans-serif;
    color: grey;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    letter-spacing: 5px;
    align-self: center;
    @media all and (max-width: 850px) {
      font-size: 30px;
    }
    @media all and (max-width: 450px) {
      font-size: 20px;
    }
  }

  &__title{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  &__copyright{
    text-align: center;
    font-size: small;
  }

  &__menu{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a{
    color: white;
    font-weight: 300;
  }

  &__bottom{
    background-color: darken($color-black, 10%);
    text-align: center;
    padding: 1em 0;
  }
}