/*
 * Header
 */
.c-header{
  position: relative;
  transition: all 0.5s ease;
  max-width: 100vw;

  &__main{
    background-color: rgba(0,0,0,0.6);
    padding: 1em 0;
    &__content{
      display: flex;
      align-items: center;
      nav{
        width: calc(100% - 220px);
        display: inline-block;
        text-align: right;
        @media all and (max-width: 450px) {
          width: calc(100% - 190px);
        }
      }
    }
  }

  .sticky-wrapper {
    height: auto!important;
  }
}

.sticky-wrapper{
  z-index: 5;
  position: relative;
  height: 0 !important;
}
.is-sticky .c-header{
  background-color: rgba(0,0,0,0.6);
  padding: 0.5em 0;

  .c-logo__sitename{
    display: none;
  }
}