.mainmenu{
  z-index: 100;
  font-size: 16px;
  letter-spacing: 1px;
  transition: font-size 0.2s ease;

  &__link{
    margin-right: 1em;
    display: inline-block;
    &:last-of-type{
      margin-right: 0;
    }
  }

  a{
    color: white;
  }
}

.is-sticky .mainmenu{
  font-size: 14px;
}

.nav__dropdown-toggle{
  border: 2px solid white;
  color: white;
  font-weight: 600;
  height: 100%;
  padding: .5em .5em .5em .75em;
  text-transform: uppercase;
  margin-left: 1em;
  font-size: 16px;
  svg{
    display: inline-block;
    margin-right: 1em;
  }
}

footer{
  .header__mainmenu{
    width: 100%;
    margin: 0;
  }
  .mainmenu__link{
    width: 100%;
    margin: 0;
  }
}