/*
 *  Components: Buttons
 *  ---
 *  Collection of buttons
 */

button {
  border: none;
  cursor: pointer;
  background: none;
}

.c-button, input[type="submit"], button[type="submit"] {
  border: none;
  cursor: pointer;

  display: inline-block;
  vertical-align: middle;
  font: inherit;
  font-weight: 600;
  text-align: center;
  margin: 1em 0 5em 0;
  overflow: visible;
  line-height: 1em;
  padding: 0.9em 1em;
  flex-shrink: 0;
  max-width: 100%;
  text-decoration: none;
  color: white;
  background-color: $color-blue;
  transition: background-color 0.3s ease;

  &:visited{
    color: white;
  }

  svg{
    margin-left: 0.75em;
    transition: transform 0.2s ease;
    fill: white;
    display: inline-block;
    &.previous{
      margin-left: 0;
      margin-right: 0.75em;
    }
  }

  &:hover{
    color: $color-blue;
    background-color: white;
    text-decoration: none;
    box-shadow:inset 0px 0px 0px 1px $color-blue;
    svg{
      transform: translateX(4px);
      fill: $color-blue;
      &.previous{
        transform: translateX(-4px);
      }
    }
  }
}

.c-button--smaller {
  padding: 0.7em 1em;
}