.c-gmap{
  width: 100%;
  height: 600px;
}

.gmap-popup__content {
  background-color: rgba($color-success, 0.8);

  a{
    text-decoration: underline;
    &:visited{
      color: white;
    }
  }

  &:before{
    border-top: 5px solid rgba($color-success, 0.8);
  }
}

.gmap-popup__close-button{
  background-color: rgba($color-success, 0.8);
}

.js-gmap-tooltip-content{
  display: none;
}