.c-logo{

  color: white;
  text-decoration: none;
  margin-right: 1em;
  text-align: center;

  &:visited{
    color: white;
  }

  @media all and (max-width: 450px) {
    margin-right: 0;
  }

  &__placeholder{
    font-size: 20px;
    text-transform: uppercase;
  }

  &__sitename{

  }

}