/*
 *  Elements: Paragraphs
 *  ---
 *  Paragraph styling
 */

p{
  &:last-child{ margin-bottom: 0;}
}

.paragraph{
  ul{
    //padding-left: 1rem;
  }
  li{
    padding-left: 1.5rem;
    position: relative;
    &:before{
      content: "»";
      color: $color-error;
      position: absolute;
      left: 0;
      top: 0;
    }
    li:before{
      content: "-";
    }
  }
}

