.paragraph table{
  width: 100%;
  border-color: $color-error;
  text-align: center;
  padding: 0 1rem;
  td{
    padding: 0.2rem 0.5rem;
  }
  tr{
    &:first-of-type{
      background-color: $color-black;
      color: white;
      border-color: white;
      border-bottom-color: $color-black;
      font-weight: 600;
      td{
        padding: 0.5rem 1rem;
      }
    }
  }
}
