/*
 *  Elements: Links
 *  ---
 *  Base styles for links
 */

a {
  color: palette(color-base, base);
  text-decoration: none;

  &:visited {
    color: palette(color-base, light);
  }

  &:hover {
    color: palette(color-blue, base);
  }

  &:focus {
    outline: 1;
    color: palette(color-blue, base);
  }
}