/*
 *  Elements: form elements
 *  ---
 *  Styling of input fields etc.
 */

form:not(.views-exposed-form) {
  input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="tel"], textarea, select, input[type="checkbox"]{
    border: 1px solid $color-grey;
    padding: 20px;
    background-color: palette(color-grey, light);
    position: relative;
    z-index: 2;
    max-width: 100%;
    color: $color-base;
    @include rfs($global-font-size);
    &::placeholder{
      color: rgba(99,99,99,0.5);
    }
    &.alt-bg{
      background-color: rgba(0,83,76,0.04);
    }
  }
  input[type="checkbox"]{
    appearance: none;
    &:checked{
      background-color: $color-success;
      position: relative;
      &:after{
        content: '\2713';
        color: white;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 30px;
      }
    }
  }

  label {
    text-transform: uppercase;
    font-weight: bold;
    color: $color-base;
    //font-size: 14px;
    @include rfs(14px);
    padding-left: .5em;
    margin-bottom: .5em;
    display: inline-block;

    &.required,
    &.form-required {
      &:after {
        content: '*';
        color: $color-error;
        display: inline-block;
        margin-left: 0.5em;
      }
    }
  }

  .description {
    font-style: italic;
    font-size: .8em;
    opacity: .8;
  }

  select{
    padding: 20px 40px 20px 20px;
  }
}

select{
  border: 1px solid rgba(0,83,76,0.2);
  padding: 0.5em 1.75em 0.5em 0.5em;
  color: $color-base;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: $default-font-family;
  background-color: white;
  background-image: url("../images/svg/individual/arrow-down.svg");
  background-position: center right 15px;
  background-repeat: no-repeat;
  background-size: 15px;
  cursor: pointer;
  &::-ms-expand {
    display: none;
  }
}

fieldset{
  border: none;
  > legend{
    //display: none;
    @include font-size(36px);
    color: $color-base;
    font-weight: 600;
    margin-bottom: 1em;
  }
}

textarea{
  font-family: $default-font-family;
}
