.contactpage{

  h1{
    margin-top: 0;
  }

  h2{
    margin-top: 1em;
  }

  &__content{
    padding-top: 5em;
    padding-bottom: 5em;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__address{
    display: flex;
    margin-top: 2em;
    margin-bottom: 1.5em;
    align-items: center;

    &__info{
      padding-left: 1em;
      font-weight: 600;
      font-size: 22px;
      color: #255F6D;
    }
  }

  &__data{
    line-height: 2em;
    svg{
      fill: #015498;
      margin-right: 0.75em;
      transform: translateY(4px);
      display: inline-block;
    }

    a{
      text-decoration: none;
      color: $color-base;
      transition: all 0.3s ease;
      transform-origin: left center 0;
      display: block;

      &:hover{
        transform: scale(1.1);
        color: #015498;
      }
    }
  }


  &__container{
    width: 500px;
    max-width: 100%;
    padding-right: 3em;
    flex-shrink: 0;
    @media all and (max-width: 920px) {
      width: 100%;
      padding-right: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      h2{
        margin-top: 0;
      }
      &__item{
        width: 50%;
      }
    }
    @media all and (max-width: 700px) {
      display: block;
      h2{
        margin-top: 1em;
      }
      &__item{
        width: 100%;
      }
    }
  }

  &__form{
    width: calc(100% - 500px);
    text-align: center;

    @media all and (max-width: 920px) {
      width: 100%;
      margin-top: 4em;
    }

    form{
      display: inline-block;
      text-align: left;
    }

    .js-form-item{
      margin-bottom: 1em;
    }
  }

  .contact-form{
    display: flex;
    flex-wrap: wrap;

    input, textarea{
      width: 100%;
    }
  }

  .form-item{
    width: 100%;
  }

  .form-item-name{
    width: 50%;
    padding-right: 1em;
  }

  .form-item-mail{
    width: 50%;
    padding-left: 1em;
  }
}