<footer class="c-footer">

    {#Footer top#}
    <div class="c-footer__top">
        <div class="wrapper c-footer__top__content">

            {#Column 1: logo#}
            <div class="c-footer__logo">
                {{ site_name }}
            </div>

            {#Column 2: contact info#}
            <div class="c-footer__contact">
                <div class="c-footer__title">
                    Contact
                </div>
                <div class="c-footer__address">
                    <p>Straat nr<br/>
                        Postcode Gmeente</p>
                    <p>03 123 456</p>
                    <p>info@website.be</p>
                </div>
            </div>

            {#Column 3: site links#}
            <div class="c-footer__links">
                <div class="c-footer__title">
                    Links
                </div>
                <nav>
                    <ul class="c-footer__menu">
                        <li><a href="">Link 1</a></li>
                        <li><a href="">Link 2</a></li>
                        <li><a href="">Link 3</a></li>
                    </ul>
                </nav>

            </div>

            {#Column 4: legal links#}
            <div class="c-footer__links">
                <div class="c-footer__title">
                    Links
                </div>
                <nav>
                    <ul class="c-footer__menu">
                        <li><a href="">Privacy policy</a></li>
                        <li><a href="">Cookie Statement</a></li>
                        <li><a href="">Algemene voorwarden</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>

    <div class="c-footer__bottom">
        <div class="wrapper c-footer__copyright">
            © {{ "now"|date("Y") }} {{ site_name }}
        </div>
    </div>
</footer>