{{ attach_library('basetheme/sticky') }}

<header class="c-header">
    <div class="c-header__main js-sticky">
        <div class="wrapper c-header__main__content">

            {#Logo in microdata format#}
            <a href="{{ path('<front>') }}" class="c-logo" itemscope itemtype="https://schema.org/Organization" title="{{ 'Click here to return to the homepage'|t }}">
                <meta itemprop="name" content="{{ site_name }}" />
                <link itemprop="logo" href="{{ theme_path ~ '/dist/images/png/logo.png' }}" />
                <meta itemprop="url" content="{{ base_url }}" />
                <div class="c-logo__placeholder">{{ 'Add logo here'|t }}</div>
                <div class="c-logo__sitename">{{ site_name }}</div>
            </a>

            <nav>
                {{ drupal_menu('main') }}
            </nav>

        </div>
    </div>

    {% if page.header_top %}
        {{ page.header_top }}
    {% endif %}
</header>