{#
/**
 * @file
 * Overriden theme implementation to display the basic html structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html{{ html_attributes.addClass('no-js') }}>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>document.documentElement.className = document.documentElement.className.replace("no-js", "js");</script>
    <head-placeholder token="{{ placeholder_token|raw }}">
        <title>{{ head_title|safe_join(' | ') }}</title>
        <css-placeholder token="{{ placeholder_token|raw }}">
            <js-placeholder token="{{ placeholder_token|raw }}">

                {#Favicons#}
                <link rel="apple-touch-icon" sizes="180x180" href="/themes/custom/basetheme/images/favicon/apple-touch-icon.png">
                <link rel="icon" type="image/png" sizes="32x32" href="/themes/custom/basetheme/images/favicon/favicon-32x32.png">
                <link rel="icon" type="image/png" sizes="16x16" href="/themes/custom/basetheme/images/favicon/favicon-16x16.png">
                <link rel="manifest" href="/themes/custom/basetheme/images/favicon/site.webmanifest">
                <link rel="mask-icon" href="/themes/custom/basetheme/images/favicon/safari-pinned-tab.svg" color="#1c3554">
                <link rel="shortcut icon" href="/themes/custom/basetheme/images/favicon/favicon.ico">
                <meta name="msapplication-TileColor" content="#1c3554">
                <meta name="msapplication-config" content="/themes/custom/basetheme/images/favicon/browserconfig.xml">
                <meta name="theme-color" content="#1c3554">

                {#Google fonts#}
                <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
                <script>
                    WebFont.load({
                        google: {
                            families: ['Catamaran:300,400,700', 'Roboto:300,400,400i,700']
                        }
                    });
                </script>

                {#Fonts from typekit - async loading#}
                {#<script>#}
                    {#(function(d) {#}
                        {#var config = {#}
                                {#kitId: 'vsw4epp',#}
                                {#scriptTimeout: 3000,#}
                                {#async: true#}
                            {#},#}
                            {#h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='/themes/custom/itr_theme/js/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)#}
                    {#})(document);#}
                {#</script>#}
                {#</head>#}

<body{{ attributes.addClass(body_classes) }} itemscope itemtype="https://schema.org/WebPage">

{# --- Accessibility skip link --- #}
<div id="skip-link"><a href="#main-content" class="visually-hidden focusable">{{ 'Skip to main content'|t }}</a></div>

{# --- Include svg sprite --- #}
<div style="display: none;">{% include base_path ~ directory ~ '/dist/images/svg/symbol/svg/sprite.symbol.svg' ignore missing %}</div>

{# --- Regions --- #}
{{ page_top }}
{{ page }}
{{ page_bottom }}

<js-bottom-placeholder token="{{ placeholder_token|raw }}">

</body>
</html>
