{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header_top
 * - page.header_main
 * - page.content
 * - page.footer_top
 * - page.footer_bottom
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{# --- Include header --- #}
{% include directory ~ '/templates/layout/header.html.twig' %}

{#Status messages#}
{% if page.messages %}
    <section class="drupal-messages">
        {{ page.messages }}
    </section>
{% endif %}

<section id="main-content" class="main-content p-login">
    <div class="p--white p--padded">
        <div class="o-wrapper-small o-wrapper--center u-text-align-center">
            {% if action_links %}
                <ul class="action-links">
                    {{ action_links }}
                </ul>
            {% endif %}

            {% if page.content %}
                {{ page.content }}
            {% endif %}
        </div>
    </div>

</section>

{# --- Include footer --- #}
{% include directory ~ '/templates/layout/footer.html.twig' %}
